Modules/Accounts/
Modules/Gac/
Modules/IIS/
Modules/InvokeBuild/
Modules/Media/
Modules/Net/
Modules/Ores/
Modules/Pester/
Modules/posh-git/
Modules/Pscx/
Modules/Spotlight/
Modules/Tfs/
Modules/Utils/
Modules/VSSetup/
Scripts/

*.InstallLog
CreateWorkspace.ps1
WMIExplorer.ps1
